
.individual_image_main {
    width: 100%;
    display: flex;
    top: 30px;
    position: relative;
}

.individual_container {
    padding-left: 30px;
}

.individual_image_container {
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    /* padding-left: 30px; */
    padding-top: 30px;
}

.image-elem {
    position: relative;
    width: 900px;    
    /* background-color: blue !important; */
}

.image-elem img {
   width: 100%;
   height: auto;
   object-fit: cover;
   background-position: center;
   background-size:cover;
}


.individual_profile {
    position: absolute;
    top: 95px;
    right: 62px;
}

.author_profile {
    display: flex;
    align-items: center;
    margin-right: 0;
}

.profile_image {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    /* background-color: blueviolet; */
}

.image_button {
    transform: translate3d(0px, 45px,0);
    /* padding-right: 20px; */
    position: sticky;
}

.image_button button {
    border-radius: 12px;
}

.individual_like {
    transform: translate3d(10px, 0, 0);
    border: transparent;
    padding: 6px 24px;
    background-color: #008ddf;
    color: #fff;
}

.individual_like:hover {
    background-color: #0078e7;
    cursor: pointer;
}

.individual_share {
    transform: translate3d(48px,0,0);
    border: transparent;
    padding: 6px 36px;
    background: #e6e6e6;
    cursor: pointer;
}

.individual_share:hover {
    background-color: #d6d6d6
}

.individual_favorite {
    transform: translate3d(30px, 0 ,0);
    border: transparent;
    padding: 6px 24px;
    background-color:#008ddf;
    color: #fff
}

.individual_favorite:hover {
    background-color: #0078e7;
    cursor: pointer;
}

.individual_up {
    transform: translate3d(0, 20px, 0);
}

.individual_down {
    transform: translate3d(0, 74px, 0);
    width: 300px;
}

.individual_last {
    display: flex;
    position: relative;
    /* top: 50px; */
    top: 60px;
    padding-bottom: 100px;
}

.individual_last button {
    border: none;
    background-color:#008ddf;
    color: #fff;
    padding: 6px 8px;
    border-radius: 12px;
}

.individual_last button:hover {
    background-color: #0078e7;
    cursor: pointer;
}

.individual_last .login_request {
    padding: 6px 8px;
}

.individual_last a {
    text-decoration: none;
    color: #0078e7;
    
}

@media only screen and (max-width: 768px) {
    .individual_profile {
        position: relative;
        bottom: 70px;
        left: 0;
        transform: translate3d(0, 20px, 0);
    }

    .individual_last {
        top: 140px;
    }

    .individual_up {
        width: 630px;
        
    }

    .individual_down {
        width: 630px;
        position: relative;
        bottom: 2px;
    }

    .individual_image_container{
        width: 630px;
        height: auto;
    }

    .individual_image_container img {
        height: 500px;
    }

    
}

