.body_search {
    position: absolute;
    height: 40px;
    top: 13px;
    min-width: 400px;
    max-width: 510px;
    width: 100%;
    display:flex;
    margin-left: 40px;
    background: #f7f7f7;
    /* justify-content: center; */
    align-items: center;
}

.body_search_register {
    position: absolute;
    /* top: 4px; */
    padding: 2px 4px;
    margin-left: 4px;
    padding-bottom: 2px;
    transform: translate3d(2px, 0px, 0);
    font-size: 18px;
}

#body_Search {
    height: 30px;
    width: 330px;
    position:relative;
    left: 35px;
    border: none;
    top: 3px;
    background:#f7f7f7;
    transform: translate3d(0, -3px, 0);
    padding-left: 6px;
    font-size: 18px;
}


#body_option {
    position: relative;
    top: -14px;
    left: 0;
    font-size: 13.9px;
    width: 130px;
}

.body_select {
    position: absolute;

    left: 372px;
    bottom: 5px;
    width: 135px;
    background-color: #fff;
    height: 30px;
    padding: 0;
    margin: 0;
    cursor: pointer;
}