.body_settings .body_settings_container ul li {
    display: inline-block;
    margin-top: 30px;
    padding: 20px 20px;
}

.body_settings .body_settings_container ul li:nth-child(2) {
    border-bottom: 2px solid #1e90ff;
}

.body_settings .body_settings_container ul li:nth-child(3) {
    position: relative;
    left: 1000px;
}


.explore_dropdown {
    right: 210px;
}


form {
    position: relative;
    left: 40px;
}

.personal-data {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px
}

.left_column, .right_column {
    width: 630px;
    height: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    /* border: 1px solid #ccc; */
}

.left_column {
    margin-right: 20px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profile_image_box {
    height: 180px;
    width: 180px;
    background-color: cornflowerblue;
    position: relative;
    left: 100px;
    bottom: 10px;
    /* background-image: url(https://profiles.utdallas.edu/img/default.png); */
    background-size: cover;
    background-position: center;
}


label {
    display: flex;
    justify-content: center;
    position: absolute;
    background-color:#1e90ff;
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    /* border-radius: 0.3rem; */
    cursor: pointer;
    /* margin-top: 1rem; */
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
}

.profile_image_box:hover::after {
    background-color: cadetblue;
    color: black;
}

input#user_heading {
    /* float: right; */
    height: 30px;
    width: 250px;
    transform: translateX(22px);
    font-size: 18px;
    padding-left: 8px;
}

.settings_save {
    display: flex;
    height: 100px;
    width: 100%;
    background-color: #aaa;
    justify-content: center;
    align-items: center;
}

.settings_save input {
    padding: 10px 100px;
    background-color: #1e90ff;
    color: white;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.settings_save button:hover {
    background-color: #1e9aff;
}

.settings_save button a {
    font-size: 16px;
    text-decoration: none;
    color: white;
}

#personal {
    position: absolute;
    top: 10px;
    left: 10px;
}

#hr-up {
    position: absolute;
    top: 20px;
}

.username_setting {
    position: absolute;
    top: 60px;
    left: 20px;
}

.profile_image_setting {
    position: absolute;
    left: 20px;
    top: 130px;
}

.place_setting {
    position: absolute;
    bottom: 80px;
    left: 20px;
}

.city_setting input, .country_setting input {
    height: 30px;
    width: 265px;
    font-size: 18px;
    padding-left: 8px;
}

.city_setting input {
    transform: translateX(66px);
}

.country_setting input {
    transform: translateX(36px);
}

.country_setting {
    position: relative;
    bottom: -40px;
}

#option-heading {
    position: absolute;
    top: 10px;
    left: 10px;
}

.email-setting-header {
    position:absolute;
    top: 60px;
    left: 20px;
}

.current_email {
    position: absolute;
    top: 60px;
    transform: translateX(-80px)
}

.email_setting a {
    position: absolute;
    top: 90px;
    transform: translateX(-80px);
}

.signin_header {
    position: absolute;
    top: 130px;
    left: 20px;
}


.more_settings {
    position: absolute;
    top: 210px;
    left: 20px;
}

#set-password {
    transform: translate3d(-100px,-22px,0);
}

#del-account {
    transform: translate3d(60px, -40px, 0);
}

.user_profile_dropdown {
    left: -170px;
}


